.contact-content-con {
  display: flex;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 5%;
  display: inline-block;
  padding: 1.5em 2.6em;
  border-radius: 0;
  color: var(--color-secondary);
  margin-top: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: all 250ms ease;
  bottom: 5%;
}
.contact-content-con .left-contact .contact-icon a:before, .contact-content-con .left-contact .contact-icon a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 90%;
  border: 2px solid;
  transition: 0.25s;
}
.contact-content-con .left-contact .contact-icon a:before {
  transform: translateX(-0.25em) translateY(0.25em);
}
.contact-content-con .left-contact .contact-icon a:after {
  transform: translateX(0.25em) translateY(-0.25em);
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover:before, .contact-content-con .left-contact .contact-icon a:hover:after {
  transform: translateX(0) translateY(0);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}/*# sourceMappingURL=Contact.css.map */